
# このファイルをコピーして`terraform.tfvars`という名前で保存
# 以下の変数に適切な値を設定

# AWSリソースを作成するリージョンを指定
aws_region = "ap-northeast-1"

# 作成されるAWSリソースに付けられるプロジェクト名を指定
project_name = "my-website-project"

github_username  = "your-github-username"
github_repo_name = "your-repo-name"

aws_profile = "default"  # AWS CLIのプロファイル名を指定（必要に応じて変更）