@font-face {
  font-family: "NuMochi"; /* CSSで使うための名前を定義 */
  src: url("./assets/fonts/NuAnkoMochiCt-Reg.otf") format("opentype");
}
@font-face {
  font-family: "MisakiGothic"; /* CSSで使うための名前を定義 */
  src: url("./assets/fonts/misaki_gothic_2nd.ttf") format("truetype");
}

body {
  margin: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "MisakiGothic","NuMochi", "Press Start 2P", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
